.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.user-login-div {
  display: flex;
  justify-content: flex-end;
}
.user-login-card {
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: lightgrey;
  padding: 10px;
}
.user-login-card .greeting {
  margin-right: 10px;
}
.user-login-card .name {
  font-weight: bold;
}
.placeholder-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px black dashed;
  padding: 10px;
  margin-bottom: 10px;
}
.drag-drop-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px black dashed;
  padding: 10px;
  margin-bottom: 10px;
}
.drag-drop-box:hover {
  cursor: pointer;
}
.drag-drop-box span {
  margin-left: 10px;
}
.drag-drop-box input[type='file'] {
  display: none;
}
.over {
  opacity: 0.5;
}
.center {
  text-align: center;
}
.icpassport-preview {
  text-align: center;
  overflow: auto;
}
.icpassport-preview img {
  max-width: 400px;
  height: auto;
}
.toast {
  position: absolute;
  right: 0;
}
.toast-logo {
  width: 30px;
  margin-right: 10px;
}
.navbar-brand-logo {
  width: 100px;
  margin-right: 10px;
}
.navbar-brand-name {
  font-weight: bold;
}
